<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %> 

   <div class="indexitens">
    <p></p>
    <img src="/images/logoloja.png" alt="logoloja"
    width="300px;">
    </div>
<%- include ('partials/footer.ejs') %> 
